<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Shale - Ruby object mapper and serializer for XML, JSON and YAML">
  <title>Shale - Ruby object mapper and serializer for XML, JSON, TOML and YAML</title>
<% if (webpackConfig.mode === 'production') { %>
  <script defer data-domain="shalerb.org" src="/js/script.js"></script>
<% } %>
</head>
<body>
  <header class="navbar">
    <a href="/" class="home-link">Shale</a>
    <div class="links">
      <a class="active" href="/">
        Docs
      </a>
      <a href="/releases.html">
        Releases
      </a>
      <a href="https://github.com/kgiszczak/shale" target="_blank" rel="noopener noreferrer">
        GitHub
      </a>
      <a href="https://rubygems.org/gems/shale" target="_blank" rel="noopener noreferrer">
        RubyGems
      </a>
    </div>
  </header>

  <main>
    <div class="index">
      <div class="index-nav">
        <h4>CONTENTS</h4>
        <a class="active" href="#shale">Shale</a>
        <a href="#introduction">Introduction</a>
        <a href="#prerequisites">Prerequisites</a>
        <a href="#features">Features</a>
        <a href="#installation">Installation</a>
        <a href="#convert-data-to-ruby">Convert data to Ruby</a>
        <a href="#convert-ruby-to-data">Convert Ruby to data</a>
        <a href="#custom-mappings">Custom mappings</a>
        <a href="#using-xml-namespaces">XML namespaces</a>
        <a href="#using-methods">Using methods</a>
        <a href="#pretty-printing">Pretty printing</a>
        <a href="#using-custom-models">Using custom models</a>
        <a href="#generating-json-and-xml-schema">Generating Schema</a>
        <a href="#compiling-json-and-xml-schema">Compiling Schema</a>
        <a href="#supported-types">Supported types</a>
        <a href="#adapters">Adapters</a>
      </div>
    </div>
    <div class="content">
      <h1 id="shale">
        <a href="#shale" class="header-anchor">#</a> Shale
      </h1>

      <p>
        <strong>Shale</strong> is a Ruby object mapper and serializer for JSON, YAML, TOML and XML.
      </p>

      <p>
        It allows you to parse JSON, YAML, TOML and XML data and convert it into Ruby data
        structures, as well as serialize data structures into JSON, YAML, TOML or XML.
      </p>

      <h2 id="introduction">
        <a href="#introduction" class="header-anchor">#</a> Introduction
      </h2>

      <p>
        Working with data serialization formats directly can be painfull.
        This is especially true for XML. Let's consider this simple example of adding an
        address to a person using <code>Nokogiri</code>:
      </p>

      <div class="code-section">
        <div class="code-wrapper">
          <div
            class="code code-readonly code-with-gutter"
            data-mode="ruby"
            style="height: 330px;"
          >require 'nokogiri'

doc = Nokogiri::XML(&lt;&lt;~XML)
  &ltperson&gt&lt/person&gt
XML

address = Nokogiri::XML::Node.new('address', doc)

street = Nokogiri::XML::Node.new('street', doc)
street.content = 'Oxford Street'
address.add_child(street)

city = Nokogiri::XML::Node.new('city', doc)
city.content = 'London'
address.add_child(city)

doc.root.add_child(address)
puts doc.to_xml
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <p>
        That's a lot of code for very simple use case.
        Anything more complex and code complexity increases exponentially
        leading to a maintanace problems and errors.
      </p>

      <p>
        With Shale you can use Ruby objects to work with data
        converting it to/from JSON, YAML, TOML or XML.
      </p>

      <p>
        Let's convert the same example to Shale:
      </p>

      <div class="code-section">
        <div class="code-wrapper">
          <div
            class="code code-readonly code-with-gutter"
            data-mode="ruby"
            style="height: 280px;"
          >require 'shale'

class Address &lt Shale::Mapper
  attribute :street, Shale::Type::String
  attribute :city, Shale::Type::String
end

class Person &lt Shale::Mapper
  attribute :address, Address
end

person = Person.from_xml('&ltperson&gt&lt/person&gt')
person.address = Address.new(street: 'Oxford Street', city: 'London')

puts person.to_xml
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <p>
        That's much simpler and it stays simple when the code complexity increases.
      </p>

      <h2 id="prerequisites">
        <a href="#prerequisites" class="header-anchor">#</a> Prerequisites
      </h2>

      <ul>
        <li>
          <a href="https://www.ruby-lang.org" target="_blank" rel="noopener noreferrer">
            Ruby 2.7+
          </a>
        </li>
      </ul>

      <p>If you want to work with XML you will need one of:</p>

      <ul>
        <li>
          <a href="https://github.com/ruby/rexml" target="_blank" rel="noopener noreferrer">
            REXML
          </a>
        </li>
        <li>
          <a href="https://nokogiri.org" target="_blank" rel="noopener noreferrer">
            Nokogiri
          </a>
        </li>
        <li>
          <a href="https://github.com/ohler55/ox" target="_blank" rel="noopener noreferrer">
            Ox
          </a>
        </li>
      </ul>

      <p>If you want to work with TOML you will need:</p>

      <ul>
        <li>
          <a href="https://github.com/emancu/toml-rb" target="_blank" rel="noopener noreferrer">
            toml-rb
          </a>
        </li>
      </ul>

      <p>
        Shale doesn't have external dependencies. It uses standard library's
        <code>JSON</code> and <code>YAML</code> parsers by default.
      </p>

      <p>
        If you need more customizations you can use custom libraries.
        Out of the box, Shale provides adapters for
        <code>REXML</code>, <code>Nokogiri</code>, <code>Ox</code> and <code>toml-rb</code>,
        but you can provide your own adapters - <a href="#adapters">see how to</a>.
      </p>

      <h2 id="features">
        <a href="#features" class="header-anchor">#</a> Features
      </h2>

      <ul>
        <li>Convert JSON, YAML, TOML and XML to Ruby data model</li>
        <li>Convert Ruby data model to JSON, YAML, TOML and XML</li>
        <li>Generate JSON and XML Schema from Ruby models</li>
        <li>Compile JSON Schema into Ruby models</li>
        <li>Out of the box support for JSON, YAML, toml-rb, Nokogiri, REXML and Ox parsers</li>
        <li>Support for custom adapters</li>
      </ul>

      <h2 id="installation">
        <a href="#installation" class="header-anchor">#</a> Installation
      </h2>

      <p>Add this line to your application's Gemfile:</p>

      <div class="code-section">
        <div class="code-wrapper">
          <div class="code code-readonly" data-mode="ruby" style="height: 50px;">
  gem 'shale'
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <p>And then execute:</p>

      <div class="code-section">
        <div class="code-wrapper">
          <div class="code code-readonly" data-mode="sh" style="height: 50px;">
  $ bundle install
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <p>Or install it yourself as:</p>

      <div class="code-section">
        <div class="code-wrapper">
          <div class="code code-readonly" data-mode="sh" style="height: 50px;">
  $ gem install shale
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <h2 id="convert-data-to-ruby">
        <a href="#convert-data-to-ruby" class="header-anchor">#</a> Convert data to Ruby
      </h2>

      <p>
        JSON and YAML are supported by default, but to work with XML you need to install XML
        parser and setup adapter. For example to setup REXML as an adapter use:
      </p>

      <div class="code-section">
        <div class="code-wrapper">
          <div class="code code-readonly" data-mode="ruby" style="height: 70px;">
  require 'shale/adapter/rexml'
  Shale.xml_adapter = Shale::Adapter::REXML
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <p>
        If you want to work with TOML you need to install toml-rb parser and setup adapter:
      </p>

      <div class="code-section">
        <div class="code-wrapper">
          <div class="code code-readonly" data-mode="ruby" style="height: 70px;">
  require 'shale/adapter/toml_rb'
  Shale.toml_adapter = Shale::Adapter::TomlRB
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <p>
        Converting data to Ruby is as simple as defining model classes and calling
        <code>from_&ltformat&gt</code> method on this class.
        e.g. <code>Person.from_json(json_doc)</code>
      </p>

      <div id="example-data-to-ruby">
        <div class="example-group">
          <strong>Example:</strong>
          <a href="" data-mode="json" class="active-example">JSON to Ruby</a>
          <a href="" data-mode="yaml">YAML to Ruby</a>
          <a href="" data-mode="toml">TOML to Ruby</a>
          <a href="" data-mode="xml">XML to Ruby</a>
          <a href="" data-mode="ruby">Hash to Ruby</a>
        </div>

        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 570px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 160px;">
            </div>
          </div>
        </div>
      </div>

      <h2 id="convert-ruby-to-data">
        <a href="#convert-ruby-to-data" class="header-anchor">#</a> Convert Ruby to data
      </h2>

      <p>
        To convert Ruby to data just define model class, initialize object and call
        <code>to_&ltformat&gt</code> method on it.
        e.g. <code>Person.new(name: 'John Doe').to_json</code>
      </p>

      <div id="example-ruby-to-data">
        <div class="example-group">
          <strong>Example:</strong>
          <a href="" data-mode="json" class="active-example">Ruby to JSON</a>
          <a href="" data-mode="yaml">Ruby to YAML</a>
          <a href="" data-mode="toml">Ruby to TOML</a>
          <a href="" data-mode="xml">Ruby to XML</a>
          <a href="" data-mode="ruby">Ruby to Hash</a>
        </div>

        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 530px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 270px;">
            </div>
          </div>
        </div>
      </div>

      <h2 id="custom-mappings">
        <a href="#custom-mappings" class="header-anchor">#</a> Custom mappings
      </h2>

      <p>
        When you define a class and add attributes, underneath Shale creates an implicit mapping
        of keys (for JSON/YAML/TOML) and elements (for XML) to attributes.
        That is nice for setting up your data model quickly, but usually your data format doesn't
        match your data model so cleanly.
      </p>

      <p>
        That's why you can explicitly map keys, element and attributes from your
        data format to attributes on your Ruby model.
      </p>

      <div class="tip">
        <p class="tip-title">WARNING</p>
        <p>Declaring custom mapping removes default mapping for given format!</p>
      </div>

      <div id="example-custom-mapping">
        <div class="example-group">
          <strong>Example:</strong>
          <a href="" data-mode="json" class="active-example">Ruby to JSON</a>
          <a href="" data-mode="yaml">Ruby to YAML</a>
          <a href="" data-mode="toml">Ruby to TOML</a>
          <a href="" data-mode="ruby">Ruby to Hash</a>
        </div>

        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 330px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 80px;">
            </div>
          </div>
        </div>
      </div>

      <p>
        XML is more complicated format.
      </p>

      <ul>
        <li>To map XML element use <code>map_element</code></li>
        <li>To map XML attribute use <code>map_attribute</code></li>
        <li>
          To map XML text node use <code>map_content</code>
          (it will map first text node of an element)
        </li>
        <li>To change the name of the root element use <code>root</code></li>
      </ul>

      <div id="example-custom-mapping-xml">
        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 410px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 100px;">
            </div>
          </div>
        </div>
      </div>

      <p>
        You can use <code>cdata: true</code> option on <code>map_element</code>
        and <code>map_content</code> to handle <code>CDATA</code> nodes:
      </p>

      <div id="example-cdata">
        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 460px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 100px;">
            </div>
          </div>
        </div>
      </div>

      <h2 id="using-xml-namespaces">
        <a href="#using-xml-namespaces" class="header-anchor">#</a> Using XML namespaces
      </h2>

      <p>
        To Work with XML namespaces you need to use adapter that supports XML namespaces.
        Use one of <code>Shale::Adapter::REXML</code> or <code>Shale::Adapter::Nokogiri</code>.
        <code>Shale::Adapter::Ox</code> doesn't support namespaces.
      </p>

      <p>
        To map namespaced elements and attributes use
        <code>namespace</code> and <code>prefix</code> properties on
        <code>map_element</code> and <code>map_attribute</code>
      </p>

      <p>
        To define default namespace for all elements use <code>namespace</code> declaration
        (this will define namespace only on elements, if you want to define
        namespace on an attribute, explicitly declare it on <code>map_attribute</code>).
      </p>

      <div id="example-xml-namespaces">
        <div class="example-group">
          <strong>Example:</strong>
          <a href="" data-mode="xml1" class="active-example">Explicit namespace</a>
          <a href="" data-mode="xml2">Default namespace</a>
        </div>

        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 530px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 140px;">
            </div>
          </div>
        </div>
      </div>

      <h2 id="using-methods">
        <a href="#using-methods" class="header-anchor">#</a>
        Using methods to extract and generate data
      </h2>

      <p>
        If you need full controll over extracting and generating data you can use methods to do so.
      </p>

      <div id="example-using-methods">
        <div class="example-group">
          <strong>Example:</strong>
          <a href="" data-mode="json" class="active-example">JSON</a>
          <a href="" data-mode="yaml">YAML</a>
          <a href="" data-mode="toml">TOML</a>
          <a href="" data-mode="xml">XML</a>
        </div>

        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 530px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 100px;">
            </div>
          </div>
        </div>
      </div>

      <h2 id="pretty-printing">
        <a href="#pretty-printing" class="header-anchor">#</a>
        Pretty printing and XML declaration
      </h2>

      <p>
        By default generated JSON and XML are compacted. If you need human readable format use
        <code>:pretty</code> parameter on <code>#to_json</code> and <code>#to_xml</code>
      </p>

      <div class="code-section">
        <div class="code-wrapper">
          <div
            class="code code-readonly code-with-gutter"
            data-mode="ruby"
            style="height: 180px;"
          >person.to_json(:pretty)
# =>
#
# {
#   "name": "John Doe",
#   "address": {
#     "city": "London"
#   }
# }
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <p>
        You can also add an XML declaration by passing
        <code>:declaration</code> to <code>#to_xml</code>
      </p>

      <div class="code-section">
        <div class="code-wrapper">
          <div
            class="code code-readonly code-with-gutter"
            data-mode="ruby"
            style="height: 140px;"
          >person.to_xml(:pretty, :declaration)
# =>
#
# &lt;?xml version="1.0"?&gt;
# &lt;Person&gt;
#   &lt;Address city="London"/&gt;
# &lt;/Person&gt;
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <h2 id="using-custom-models">
        <a href="#using-custom-models" class="header-anchor">#</a>
        Using custom models
      </h2>

      <p>
        By default Shale combines mapper and model into one class.
        If you want to use your own classes as models you can do it by using
        <code>model</code> directive on the mapper:
      </p>

      <div id="example-custom-models">
        <div class="example-group">
          <strong>Example:</strong>
          <a href="" data-mode="ruby" class="active-example">Data to Ruby</a>
          <a href="" data-mode="json">Ruby to Data</a>
        </div>

        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 615px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 160px;">
            </div>
          </div>
        </div>
      </div>

      <h2 id="generating-json-and-xml-schema">
        <a href="#generating-json-and-xml-schema" class="header-anchor">#</a>
        Generating JSON and XML Schema
      </h2>

      <div class="tip">
        <p class="tip-title">WARNING</p>
        <p>Shale only supports <strong>Draft 2020-12</strong> JSON Schema</p>
      </div>

      <p>
        To generate JSON or XML Schema from you Shale data model use:
      </p>

      <div id="example-generating-schema">
        <div class="example-group">
          <strong>Example:</strong>
          <a href="" data-mode="json" class="active-example">JSON</a>
          <a href="" data-mode="xml">XML</a>
        </div>

        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 325px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 400px;">
            </div>
          </div>
        </div>
      </div>

      <p>You can also use a command line tool to do it:</p>

      <div class="code-section">
        <div class="code-wrapper">
          <div class="code code-readonly" data-mode="sh" style="height: 50px;">
  $ shaleb -i data_model.rb -r Person -p -f json
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <p>or XML Schema:</p>

      <div class="code-section">
        <div class="code-wrapper">
          <div class="code code-readonly" data-mode="sh" style="height: 50px;">
  $ shaleb -i data_model.rb -r Person -p -f xml
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <p>If you want to convert your own types to Schema types use:</p>

      <div id="example-generating-schema-custom-types">
        <div class="example-group">
          <strong>Example:</strong>
          <a href="" data-mode="json" class="active-example">JSON</a>
          <a href="" data-mode="xml">XML</a>
        </div>

        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 360px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 410px;">
            </div>
          </div>
        </div>
      </div>

      <h2 id="compiling-json-and-xml-schema">
        <a href="#compiling-json-and-xml-schema" class="header-anchor">#</a>
        Compiling JSON and XML Schema
      </h2>

      <p>
        To compile JSON or XML Schema and generate Ruby data model use:
      </p>

      <div id="example-compiling-schema">
        <div class="example-group">
          <strong>Example:</strong>
          <a href="" data-mode="json" class="active-example">JSON</a>
          <a href="" data-mode="xml">XML</a>
        </div>

        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 450px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 560px;">
            </div>
          </div>
        </div>
      </div>

      <p>You can also use a command line tool to do it (JSON Schema):</p>

      <div class="code-section">
        <div class="code-wrapper">
          <div class="code code-readonly" data-mode="sh" style="height: 50px;">
  $ shaleb -c -i schema.json -r Person
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <p>and XML Schema:</p>

      <div class="code-section">
        <div class="code-wrapper">
          <div class="code code-readonly" data-mode="sh" style="height: 50px;">
  $ shaleb -c -f xml -i schema.xml
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <h2 id="supported-types">
        <a href="#supported-types" class="header-anchor">#</a> Supported types
      </h2>

      <p>
        Shale supports these types out of the box:
      </p>

      <ul>
        <li><code>Shale::Type::String</code></li>
        <li><code>Shale::Type::Integer</code></li>
        <li><code>Shale::Type::Float</code></li>
        <li><code>Shale::Type::Boolean</code></li>
        <li><code>Shale::Type::Date</code></li>
        <li><code>Shale::Type::Time</code></li>
      </ul>

      <p>
        To add your own type extend defina a class and extend it from
        <code>Shale::Type::Value</code> and implement <code>.cast</code> class method.
      </p>

      <div class="code-section">
        <div class="code-wrapper">
          <div
            class="code code-readonly code-with-gutter"
            data-mode="ruby"
            style="height: 140px;"
          >require 'shale/type/value'

class MyIntegerType &lt; Shale::Type::Value
  def self.cast(value)
    value.to_i
  end
end
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <h2 id="adapters">
        <a href="#adapters" class="header-anchor">#</a> Adapters
      </h2>

      <p>
        Shale uses adapters for parsing and generating documents.
        By default Ruby's standard JSON and YAML parsers are
        used for handling JSON and YAML documents.
      </p>

      <p>
        You can change it by providing your own adapter. For JSON, TOML and YAML, adapter must implement
        <code>.load</code> and <code>.dump</code> class methods.
      </p>

      <div class="code-section">
        <div class="code-wrapper">
          <div
            class="code code-readonly code-with-gutter"
            data-mode="ruby"
            style="height: 110px;"
          >require 'shale'
require 'multi_json'

Shale.json_adapter = MultiJson
Shale.yaml_adapter = MyYamlAdapter
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <p>
        To handle TOML documents you have to explicitly set TOML adapter.
        Shale provides adapters for <code>toml-rb</code> parser:
      </p>

      <div class="code-section">
        <div class="code-wrapper">
          <div
            class="code code-readonly code-with-gutter"
            data-mode="ruby"
            style="height: 90px;"
          >require 'shale'

require 'shale/adapter/toml_rb'
Shale.toml_adapter = Shale::Adapter::TomlRB
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <p>
        To handle XML documents you have to explicitly set XML adapter.
        Shale provides adapters for most popular Ruby XML parsers:
      </p>

      <div class="tip">
        <p class="tip-title">WARNING</p>
        <p>Ox parser doesn't support XML namespaces</p>
      </div>

      <div class="code-section">
        <div class="code-wrapper">
          <div
            class="code code-readonly code-with-gutter"
            data-mode="ruby"
            style="height: 240px;"
          >require 'shale'

# if you want to use REXML:
require 'shale/adapter/rexml'
Shale.xml_adapter = Shale::Adapter::REXML

# if you want to use Nokogiri:
require 'shale/adapter/nokogiri'
Shale.xml_adapter = Shale::Adapter::Nokogiri

# or if you want to use Ox:
require 'shale/adapter/ox'
Shale.xml_adapter = Shale::Adapter::Ox
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

    </div>
  </main>
</body>
</html>
