<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Shale - Ruby object mapper and serializer for XML, JSON and YAML">
  <title>Shale - Ruby object mapper and serializer for XML, JSON, TOML and YAML</title>
<% if (webpackConfig.mode === 'production') { %>
  <script defer data-domain="shalerb.org" src="/js/script.js"></script>
<% } %>
</head>
<body>
  <header class="navbar">
    <a href="/" class="home-link">Shale</a>
    <div class="links">
      <a href="/">
        Docs
      </a>
      <a class="active" href="/releases.html">
        Releases
      </a>
      <a href="https://github.com/kgiszczak/shale" target="_blank" rel="noopener noreferrer">
        GitHub
      </a>
      <a href="https://rubygems.org/gems/shale" target="_blank" rel="noopener noreferrer">
        RubyGems
      </a>
    </div>
  </header>

  <main>
    <div class="index">
      <div class="index-nav">
        <h4>CONTENTS</h4>
        <a class="active" href="#v100">v1.0.0</a>
        <a href="#v090">v0.9.0</a>
        <a href="#v080">v0.8.0</a>
        <a href="#v071">v0.7.1</a>
        <a href="#v070">v0.7.0</a>
        <a href="#v060">v0.6.0</a>
        <a href="#v050">v0.5.0</a>
      </div>
    </div>
    <div class="content">
      <h1 id="releases">
        <a href="#releases" class="header-anchor">#</a> Releases
      </h1>

      <h2 id="v100">
        <a href="#v100" class="header-anchor">#</a> v1.0.0
      </h2>

      <p>What's new:</p>

      <ul>
        <li>
          Support for attribute delegation
        </li>
      </ul>

      <div id="example-release-v100-support-attribute-delegation">
        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 480px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="json" style="height: 80px;">
            </div>
          </div>
        </div>
      </div>

      <ul>
        <li>
          JSON and XML schema namespace mapping support
        </li>
      </ul>

      <div id="example-release-v100-support-namespace-mapping">
        <div class="example-group">
          <strong>Example:</strong>
          <a href="" data-mode="json" class="active-example">JSON</a>
          <a href="" data-mode="xml">XML</a>
        </div>

        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 650px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="json" style="height: 560px;">
            </div>
          </div>
        </div>
      </div>

      <p>What's changed:</p>

      <ul>
        <li>
          Use <code>ShaleError</code> as a base class for exceptions
        </li>
      </ul>

      <h2 id="v090">
        <a href="#v090" class="header-anchor">#</a> v0.9.0
      </h2>

      <p>What's new:</p>

      <ul>
        <li>
          Support for converting collections
        </li>
      </ul>

      <div id="example-release-v090-support-for-collections">
        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 230px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="json" style="height: 180px;">
            </div>
          </div>
        </div>
      </div>

      <ul>
        <li>
          Support for CSV
        </li>
      </ul>

      <div id="example-release-v090-support-for-csv">
        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 230px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="json" style="height: 105px;">
            </div>
          </div>
        </div>
      </div>

      <ul>
        <li>
          Allow to specify version and add encoding to XML declaration
        </li>
      </ul>

      <div class="code-section">
        <div class="code-wrapper">
          <div class="code code-readonly" data-mode="ruby" style="height: 190px;">
  # you can also pass string to encoding e.g. encoding: 'ASCII'
  person.to_xml(pretty: true, declaration: '1.1', encoding: true)

  # =>
  #
  # &lt;?xml version="1.1" encoding="UTF-8"?&gt;
  # &lt;Person&gt;
  #   &lt;Address city="London"/&gt;
  # &lt;/Person&gt;
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <h2 id="v080">
        <a href="#v080" class="header-anchor">#</a> v0.8.0
      </h2>

      <p>What's new:</p>

      <ul>
        <li>
          Bring back Ruby 2.6 support (it's the version JRuby supports)
        </li>
        <li>
          You can group mappings using <code>group</code> block
        </li>
      </ul>

      <div id="example-release-v080-grouping">
        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 530px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="json" style="height: 90px;">
            </div>
          </div>
        </div>
      </div>

      <p>What's changed:</p>

      <ul>
        <li>
          Attributes are defined now on a anonymous module.
          It allows to override accessors and <code>super</code> works as expected.
        </li>
      </ul>

      <div id="example-release-v080-anonymous-module">
        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 380px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="json" style="height: 60px;">
            </div>
          </div>
        </div>
      </div>

      <h2 id="v071">
        <a href="#v071" class="header-anchor">#</a> v0.7.1
      </h2>

      <p>What's changed:</p>

      <ul>
        <li>
          Fix broken handling of Date and Time types
        </li>
      </ul>

      <h2 id="v070">
        <a href="#v070" class="header-anchor">#</a> v0.7.0
      </h2>

      <p>What's new:</p>

      <ul>
        <li>
          You can set <code>render_nil: true</code> option on a mapping to control
          how <code>nil</code> values are rendered (default is <code>false</code>):
        </li>
      </ul>

      <div id="example-release-v070-render-nil">
        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 350px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="json" style="height: 80px;">
            </div>
          </div>
        </div>
      </div>

      <ul>
        <li>
          You can pass <code>only: []</code> and <code>except: []</code> options
          that allow to control what attributes are rendered/parsed:
        </li>
      </ul>

      <div id="example-release-v070-only-except">
        <div class="example-group">
          <strong>Example:</strong>
          <a href="" data-mode="render" class="active-example">Rendering</a>
          <a href="" data-mode="parse">Parsing</a>
        </div>

        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 450px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 110px;">
            </div>
          </div>
        </div>
      </div>

      <ul>
        <li>
          You can pass a context object to extractor/generator methods:
        </li>
      </ul>

      <div id="example-release-v070-context">
        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 520px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 60px;">
            </div>
          </div>
        </div>
      </div>

      <p>What's changed:</p>

      <ul>
        <li>
          <code>:pretty</code> and <code>:declaration</code> options are keyword arguments now:
        </li>
      </ul>

      <div class="code-section">
        <div class="code-wrapper">
          <div class="code code-readonly" data-mode="ruby" style="height: 120px;">
  # so this:
  person.to_json(:pretty)

  # changes into this:
  person.to_json(pretty: true)
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <ul>
        <li>
          Extractor/generator methods for JSON/YAML/TOML accept now whole document instead
          of relaying on a return value (this behavior is consisten with XML mapping)
        </li>
      </ul>

      <div class="code-section">
        <div class="code-wrapper">
          <div class="code code-readonly" data-mode="ruby" style="height: 290px;">
  class Person < Shale::Mapper
    attribute :first_name, Shale::Type::String

    json do
      map 'first_name', using: { from: :first_name_from, to: first_name_to }
    end

    def first_name_from(model, value)
      model.first_name = value
    end

    def first_name_to(model, doc)
      doc['first_name'] = model.first_name
    end
  end
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

      <h2 id="v060">
        <a href="#v060" class="header-anchor">#</a> v0.6.0
      </h2>

      <p>What's new:</p>

      <ul>
        <li>You can now use your own models with Shale mappers:</li>
      </ul>

      <div id="example-release-v060-custom-models">
        <div class="example-group">
          <strong>Example:</strong>
          <a href="" data-mode="ruby" class="active-example">Data to Ruby</a>
          <a href="" data-mode="json">Ruby to Data</a>
        </div>

        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 620px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 150px;">
            </div>
          </div>
        </div>
      </div>

      <ul>
        <li>Support for TOML:</li>
      </ul>

      <div id="example-release-v060-toml">
        <div class="example-group">
          <strong>Example:</strong>
          <a href="" data-mode="ruby" class="active-example">Ruby to TOML</a>
          <a href="" data-mode="toml">TOML to Ruby</a>
        </div>

        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 530px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 190px;">
            </div>
          </div>
        </div>
      </div>

      <ul>
        <li>Support for CDATA nodes in XML:</li>
      </ul>

      <div id="example-release-v060-cdata">
        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 470px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 90px;">
            </div>
          </div>
        </div>
      </div>

      <p>What's changed:</p>

      <ul>
        <li>Allow to map XML content using methods</li>
        <li>Prevent adding default mapping after mapping block was declared</li>
      </ul>

      <h2 id="v050">
        <a href="#v050" class="header-anchor">#</a> v0.5.0
      </h2>

      <p>What's new:</p>

      <ul>
        <li>You can now generate Shale models from XML Schema</li>
      </ul>

      <div id="example-release-v050-compiling-schema">
        <div class="code-section code-section-editor">
          <div class="code-wrapper">
            <div class="code code-with-gutter" data-mode="ruby" style="height: 520px;">
            </div>
          </div>
          <a href="" class="copy-to-clipboard"></a>
        </div>

        <div class="run-button-wrapper">
          <a href="" class="run-button"><span class="loader"></span>Run Example</a>
        </div>

        <div class="code-section code-section-output">
          <div class="code-wrapper">
            <div class="code code-readonly" data-mode="ruby" style="height: 560px;">
            </div>
          </div>
        </div>
      </div>

      <p>What's changed:</p>

      <ul>
        <li>Drop support for Ruby 2.6</li>
        <li>
          Due to REXML being promoted to bundled gems in
          <a
            href="https://www.ruby-lang.org/en/news/2020/09/25/ruby-3-0-0-preview1-released/"
            target="_blank"
            rel="noopener noreferrer"
          >
            Ruby 3
          </a>
          Shale doesn't set REXML as a default XML parser.
          To work with XML documents, XML adapter needs to be set explicitly e.g.
        </li>
      </ul>

      <div class="code-section">
        <div class="code-wrapper">
          <div class="code code-readonly" data-mode="ruby" style="height: 70px;">
  require 'shale/adapter/rexml'
  Shale.xml_adapter = Shale::Adapter::REXML
          </div>
        </div>
        <a href="" class="copy-to-clipboard"></a>
      </div>

    </div>
  </main>
</body>
</html>
